@model IEnumerable<Team15_SEP2022.Models.AspNetUser>

<div class="form-group">
    <select class="choices form-select" id="select">
        @foreach(var user in Model)
            {
                <option value=@user.Id>@user.Email</option>
            }
    </select>
</div>
    
