<div id="loading" class="modal">
    <div class="loader">
        <div class="spinner-border spinner-color" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
